.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 0 0 20px;
    margin: 5px;
}

.cardMain{
    border: 1px solid gray;
    width:23%;
    border-radius: 5px;
}
.UserInfo{
    width: 100%;
}
.UserInfoSubDiv{
display: flex;
gap: 10px;
padding: 5px;
}
.Avtar{
    width: 100%;
    background: rgb(237, 229, 229);
}
.BottomDiv{
    width: 100%;
    /* background: pink; */
    position: relative;
    display: flex;
    gap: 10px;
    border-top: 1px solid gray;
}
.BottomDivSubDiv{
    width: 33%;
    display: flex;
    margin: 9px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
}
.BottomDivSubDiv_Delete{
    width: 33%;
    display: flex;
    margin: 9px;
    align-items: center;
    justify-content: center;
}
.cardHeart{
    color:  red;
    font-size: 25px;
    cursor: pointer;
}     
.ciEditHover:hover{
    color: rgb(67, 145, 175);
} 
.ModelHeader{
    display: flex;
    justify-content: space-between;
    padding:0 10px 10px 10px;
    border-bottom: 1px solid gray;
    margin: 0 0 15px 0;
    font-weight: 600;
    
} 
.ModelHeader div:nth-child(2){
    cursor: pointer;
}   
.ReactModal__Overlay{
    backdrop-filter: brightness(0.3);
}
@media only screen and (max-width: 600px) and (min-width: 300px)  {
    .UserInfoSubDiv{
        font-size: 10px;
    }
    .ciEditHover{
        font-size: 10px;
    }
    .cardHeart{
        font-size: 10px;
    }
    .container{
        gap:10px;
        padding: 0;
    }
    .cardMain {
        width: 27%;
    }
    .BottomDivSubDiv{
        margin: 0;
        width: 20%;
    }
    .BottomDivSubDiv_Delete{
        width: 20%;
        margin: 0;
        font-size: 7px;
    }

}    