.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 0 0 10px;
    margin: 5px;
}

.cardMain{
    border: 1px solid gray;
    /* height: 55vh; */
    width: 24%;
    border-radius: 5px;
}
.UserInfo{
    /* height: 30%; */
    width: 100%;
    /* background: wheat; */
}
.UserInfoSubDiv{
display: flex;
gap: 10px;
padding: 5px;
}
.Avtar{
    /* height: 50%; */
    width: 100%;
    background: rgb(237, 229, 229);
}
.BottomDiv{
    /* height: 20%; */
    width: 100%;
    /* background: pink; */
    position: relative;
    display: flex;
    gap: 10px;
    border-top: 1px solid gray;
}
.BottomDivSubDiv{
    width: 33%;
    display: flex;
    margin: 9px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
}
.BottomDivSubDiv_Delete{
    width: 33%;
    display: flex;
    margin: 9px;
    align-items: center;
    justify-content: center;
}
.cardHeart{
    color:  red;
    font-size: 25px;
    cursor: pointer;
}     
.ciEditHover:hover{
    color: rgb(67, 145, 175);
} 
.ModelHeader{
    display: flex;
    justify-content: space-between;
    padding:0 10px 10px 10px;
    border-bottom: 1px solid gray;
    margin: 0 0 15px 0;
    font-weight: 600;
    
} 
.ModelHeader div:nth-child(2){
    cursor: pointer;
}   
.ReactModal__Overlay{
    backdrop-filter: brightness(0.3);
}      
/* .darken-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
  } */

  /* .darken-background {
      position: fixed;
      text-align: center;
      justify-content: center;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
  } */
  